h2 {
	text-align:center;
}
tr.group,
tr.group:hover {
    background-color: #1e9db1 !important;
    color: white;
}
.node-selected {
    background-color: #1e9db1 !important;
}
li.list-group-item.node-tree div {
    display: inline-block;
}
li.list-group-item.node-tree div:last-child {
    width: 90%;
}
li.list-group-item.node-tree div:nth-child(4) {
    margin-left: 12px;
}
.icon.glyphicon {
    position: absolute;
    left: 15px;
    top: 12px;
}
.icon.node-icon {
	width:0px;
}
